<div class="container upper">
  <div class="columns">
    <div class="column">
      <div class="bottom-padding">
        <button class="button is-success is-fullwidth" (click)="newGame()">New Game</button>
      </div>
      <article class="message is-info disable-padding-on-iphone">
        <div class="message-header">
          Score
          <span>({{score}}/{{maxQuestions}})</span>
        </div>
        <div class="message-body">
          <div class="select">
            <select (change)="setDifficulty($event.target.value)">
              <option value="easy">Easy</option>
              <option value="normal">Normal</option>
              <option value="hard">Hard</option>
            </select>
          </div>
        </div>
      </article>
      <div class="tile is-ancestor hide-on-iphone">
        <div class="tile is-parent is-vertical">
          <ng-container *ngFor="let qns of questions">
            <span *ngIf="qns.theAnswer !== null" class="tag is-size-5"
              [ngClass]="{'is-success':qns.correct(),'is-danger':!qns.correct()}">{{qns.number1}} + {{qns.number2}} =
              {{qns.theAnswer}}</span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="column is-four-fifths">
      <div class="row">
        <section class="hero is-small is-primary is-bold">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Question {{questions.length}} of {{maxQuestions}}
              </h1>
              <h2 class="subtitle">
                <p class="is-extra-large">{{questions[questions.length-1].getQuestion()}} = <span
                    class="answer">{{answer}}</span> </p>
              </h2>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="buttons">
          <span class="button is-my-large" (click)="click(0)">0</span>
          <span class="button is-my-large" (click)="click(1)">1</span>
          <span class="button is-my-large" (click)="click(2)">2</span>
          <span class="button is-my-large" (click)="click(3)">3</span>
          <span class="button is-my-large" (click)="click(4)">4</span>
          <span class="button is-my-large" (click)="click(5)">5</span>
          <span class="button is-my-large" (click)="click(6)">6</span>
          <span class="button is-my-large" (click)="click(7)">7</span>
          <span class="button is-my-large" (click)="click(8)">8</span>
          <span class="button is-my-large" (click)="click(9)">9</span>
          <a class="button is-large is-fullwidth is-primary" (click)="submit()">Answer</a>
          <a class="button is-large is-fullwidth" (click)="clear()">Clear</a>
          <a *ngIf="!isFullScreen" class="button is-large" (click)="fullScreen()">Full Screen</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" [ngClass]="{'is-active':showResult}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">You got {{score}}/{{maxQuestions}}!</p>
    </header>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="closeResult()">Next Game!</button>
    </footer>
  </div>
</div>
<div class="modal" [ngClass]="{'is-active':showGamesDialog}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Hey, choose a Math Game.</p>
    </header>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="selectGame('addition')">Addition + </button>
      <button class="button is-success" (click)="selectGame('subtraction')">Subtraction - </button>
    </footer>
  </div>
</div>